html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* My Personalized class*/
.distance{
  margin-bottom: 15px;
}

.colorBackground{
  background-color: rgba(47, 49, 65, 0.07);
}

